.btn {
  @include flexCenter();
  border: none;
  background: $light-color;
  cursor: pointer;
  border-radius: 7px;

  &--secondary {
    padding: 10px;
    border-radius: 12px;
  }
}

.btn-add {
  font-weight: $semiBold;
  padding: 10px;
  gap: 10px;
  border: 1px solid $cream;
  box-shadow: 0px 3px 4px -5px rgba(24, 24, 28, 0.03),
    0px 1px 2px rgba(24, 24, 28, 0.04);
}

.btn-primary {
  min-width: 143px;
  min-height: 48px;
  font-size: 18px;
  font-weight: $normal;
  line-height: 24px;
  background: $blue-text;
  color: $light-color;
  align-self: flex-end;
}

.table-btn {
  justify-content: flex-start;
  width: 150px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
