.search {
  @include flexCenter();
  background: $light-color;
  border-radius: 12px;

  &__container {
    padding-left: 10px;
    gap: 10px;
  }

  &__container input {
    border: none;
    border-width: 0;
    box-shadow: none;
    outline: 0;
    font-size: 14px;
  }
}
