$primary-color: #f5f5f5;
$light-color: #fff;
$dark-color: #333;

$grey-text: #555353;
$blue-text: #105dfb;
$hover-box: #eee;

$light-grey: #a1a0a3;
$dark-grey: #5f5f61;

$cream: #e6e6e6;

$green: #28a745;

$red: #dc3545;
